<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="background">
        <div class="overlay"></div>
        <div> <!--Sezione titolo-->
            <h1>Classifica</h1>
            <hr>
        </div>
        <div id="classifica"></div> <!--Scoreboard grid-->

    </div>

</body>
</html>